@font-face {
    font-family: 'Circe Light';
    src: url('/7_continent/fonts/Circe-Light.eot');
    src: url('/7_continent/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('/7_continent/fonts/Circe-Light.woff') format('woff'),
    url('/7_continent/fonts/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }