*
  box-sizing: border-box
body
  font-family: 'Circe Light'
a
  text-decoration: none

.container
  margin: 0 auto
  width: 1170px

.bottom
  background-color: $bottom-colors
  border-radius: 22.5px
  border: none
  font-size: 12px
  line-height: 1.2
  font-weight: 700
  text-transform: uppercase
  color: $light

// font-family: 'Roboto Slab', serif 