.feedback
  background-image: url(../img/feedback/fon.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  padding-top: 100px
  padding-bottom: 100px
  &__title
    margin-top: 0
    margin-bottom: 30px
    font-family: 'Roboto Slab', serif
    font-size: 30px
    line-height: 1.2
    color: $dark
    text-align: center
  &__subtitle
    margin-top: 0
    margin-bottom: 60px
    font-size: 22px
    line-height: 27px
    font-weight: 700
    color: $dark
    text-align: center
  &__line
    display: block
    margin: 0 auto
    margin-bottom: 60px
  &-form
    margin: 0 auto
    margin-top: 40px
    margin-bottom: 48px
  